.signinFormField {
  margin-top: 16px;
}
.signinFormFieldInput {
  margin-top: 7px;
  width: 100%;
  height: 34px;
  text-indent: 10px;
  border: 1px solid #c9cacc;
  box-sizing: border-box;
  border-radius: 4px;
}

.signinFormFieldLabel {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #424242;
}
