.container {
  height: 100vh;
}
.navbar {
  text-align: end;
  color: rgba(17, 87, 167, 1);
  font-size: 20px;
  line-height: 22px;
  padding: 25px 31px 15px 15px;
}
.navbarBtn {
  margin-right: 30px;
}
.flightsContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 65px 40px 40px;
  width: 600px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.flightsContainerHeader {
  display: flex;
}
.breadcrumbs {
}
.calendar {
}

.slider {
  display: flex;
  width: 600px;
  overflow: hidden;
  margin-top: 24px;
  flex-direction: column;
}
